<style type="text/css">
  body { color: #666; text-align: left; font: 12px 'Comfortaa', Helvetica, arial, sans-serif;}
  
  p.small {line-height:90%}
  div.dialog {
    width: 25em;
    padding: 0 10em;
    padding-bottom: 10em;
    margin: 4em auto 0 auto;
    border-right-color: #999;
    border-bottom-color: #999;
    background-color: white;
    padding:100px;
  
  }
  h1 { font-size: 100%; color: #21AABD; line-height: 1.5em; font: 24px 'Comfortaa', Helvetica, arial, sans-serif; text-align: left; }
</style>
<div>
<h1>Dashboard:</h1>
Here you can change your user information, add a search, and see the status of searches you've already saved</h2>
<br><br>
<b><u>User Profile Info:</u></b>
<p><b>Phone number:</b> <%= @user.phonenumber %>
<p><b>Username or Email:</b> <%= @user.email %>
<p><b>Freecycle Group Name:</b> <%= @user.group_name%>
<p><%= link_to "Click Here to Update Your Info", edit_user_registration_path %>
<br><br>
<b><u>Saved Searches:</u></b>
  <% if @searches.size != 0 %><h1>Dashboard:</h1>
Here you can change your user information, add a search, and see the status of searches you've already saved</h2>
<br><br>
<b><u>User Profile Info:</u></b>
<p><b>Phone number:</b> <%= @user.phonenumber %>
<p><b>Username or Email:</b> <%= @user.email %>
<p><b>Freecycle Group Name:</b> <%= @user.group_name%>
<p><%= link_to "Click Here to Update Your Info", edit_user_registration_path %>
<br><br>
<b><u>Saved Searches:</u></b>
  <% if @searches.size != 0 %>
    <% @searches.each do |search| %>
      <p><b>Search for:</b> <%= search.search_words %>
      <p><b>FreeCycle group:</b> <%= search.group_name %>
      <p><b>Neighborhood:</b> <%= search.neighborhood %>
      <p><b>Last updated:</b> <%= search.updated_at %>
      <% if !search.last_itemnum.nil? %>
        <p><b>Status:</b> Last Freecycle item number found under this search: <%= link_to search.last_itemnum , :controller=>"listings", :action => "getlisting", :group_name=>search.group_name, :number=>search.last_itemnum %>
      <% else %>
        <p><b>Status:</b> The system did not find this item within the last hour. <%= link_to 'Run the search now to check again.', search_path(search.id) %>
      <% end %>
      <p><b>Date search created:</b> <%= search.created_at %>
      <p><%= link_to "Edit this search.", edit_search_path(search) %> | <%= link_to 'Delete this search.', search, :confirm => 'Are you sure?', :method => :delete %> 
      <hr>
    <% end %>
    Click <%= link_to "here to add another search!", new_search_path %>
  <% else %>
        <p>You currently do not have any searches in the system. Click <%= link_to "here and add one now!", new_search_path %>
  <% end %>
</div>




