<h2>Edit Your Profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label "Username or Email" %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></p>
  
  <p><%= f.label "Your Freecycle Group" %><br/>
  <% @g = Fcgroup.all %>
  <select name="user[group_name]" id="user_group_name" style="height:30px; padding: 5px 0;">
    <% @g.each do |g|%>
      <option value="<%= g.group_name %>" <% if g.group_name == current_user.group_name %>selected="selected"<% end %>><%= g.group_name_human %></option>
    <% end %>
  </select>

  <p><%= f.label "Phone Number" %><br />
  <%= f.text_field :phonenumber %></p>
    
  <p><%= f.submit "Update" %></p>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
