<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label "Your Freecycle Group" %><br/>
  <%= f.text_field :group_name %></p>
  
  <p><%= f.label "Your Phone number (where you want to send/recieve text messages)" %><br />
    <%= f.text_field :phonenumber %></p>
  
  <p><%= f.label "username OR email" %><br />
  <%= f.email_field :email %></p>

  <p><%= f.label "Create a password (min 6 chars)" %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
