<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :searchid %><br />
    <%= f.text_field :searchid %>
  </div>
  <div class="field">
    <%= f.label :freecycgroup %><br />
    <%= f.text_field :freecycgroup %>
  </div>
  <div class="field">
    <%= f.label :freecychood %><br />
    <%= f.text_field :freecychood %>
  </div>
  <div class="field">
    <%= f.label :freecyclistid %><br />
    <%= f.text_field :freecyclistid %>
  </div>
  <div class="field">
    <%= f.label :dateposted %><br />
    <%= f.text_area :dateposted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
