<h2 id="listhead">Item Detail from FreeCycle Group <%= @groupname %></h2>

<div class="general">
  <ul class="shop-list">
    FreeCycle Item Number: <%= @listing["number"] %>
  </ul>
  <ul class="shop-list">
    Subject: <%= @listing["subject"] %>
  </ul>
  <ul class="shop-list">
    Neighborhood: <%= @listing["neighborhood"] %>
  </ul>
  <ul class="shop-list">
    Description: <%= @listing["description"] %>
  </ul>
  <ul class="shop-list">
    Posting Date: <%= @listing["date"] %>
  </ul>
</div>
