<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :search_words %><br />
    <%= f.text_field :search_words %>
  </div>
  <div class="field">
  <p><%= f.label "Freecycle Group" %><br/>
  <% @g = Fcgroup.all %>
  <select name="search[group_name]" id="search_group_name" style="height:30px; padding: 5px 0;">
    <% @g.each do |g|%>
      <option value="<%= g.group_name %>" <% if g.group_name == @cugn %>selected="selected"<% end %>><%= g.group_name_human %></option>
    <% end %>
  </select>
  </div>
  <div class="field">
    <%= f.label :neighborhood %><br />
    <%= f.text_field :neighborhood %>
  </div>
    <div class="buttondiv">  
    <%= f.submit :class=>"button"  %>
    </div>
  </div>
<% end %>
