<h2>Enter the item you are interested in from Freecycle:</h2>

<%= form_for :search, :url => finditem_searches_path, :method=>"get" do |f| %>
  <%= f.text_field  :search_words, :class=>"entryform-field" %>
  <p class="eg">e.g. Couch</p>
  <br><br>
  <%= f.label "Choose from an available Freecycle Group:" %><br/>
  <% @g = Fcgroup.all %>
  <select name="search[group_name]" id="search_group_name" style="height:30px; padding: 5px 0;">
    <% @g.each do |g|%>
      <option value="<%= g.group_name %>"><%= g.group_name_human %></option>
    <% end %>
  </select>

  <div class="buttondiv">
    <%= f.submit :value=>"submit", :class=>"button" %>
  </div>
<% end %>

<div class="sms">
<p>or, text message your item search term to:</p>
<h1>1 (510) 606-8706</h1>
</div>

