<h1>Listing searches</h1>

<table>
  <tr>
    <th>Userid</th>
    <th>Querystr</th>
    <th>Datestart</th>
    <th>Dateend</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @searches.each do |search| %>
  <tr>
    <td><%= search.userid %></td>
    <td><%= search.querystr %></td>
    <td><%= search.datestart %></td>
    <td><%= search.dateend %></td>
    <td><%= link_to 'Show', search %></td>
    <td><%= link_to 'Edit', edit_search_path(search) %></td>
    <td><%= link_to 'Destroy', search, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Search', new_search_path %>
