<p id="notice"><%= notice %></p>

<p>
  <b>User id:</b>
  <%= current_user.id %>
</p>
<p>
  <b>Search Words:</b>
  <%= @search.search_words %>
</p>
<p>
  <b>Freecycle Group name:</b>
  <%= @search.group_name %>
</p>
<p>
  <b>Neighborhood:</b>
  <%= @search.neighborhood %>
</p>
<p>
  <b>Date Created:</b>
  <%= @search.created_at %>
</p>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
