<p id="notice"><%= notice %></p>

<% @listing.each do |listing|%>
    <li class="shop-list">
        <div class="shop-list-name">Item title: <%= listing[:title] %>
          <P>Click <%= link_to 'here for details', :controller=>"listings", :action => "getlisting", :group_name=>@group_name, :number=>listing[:number] %>
        </div>
    </li>
<% end %>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
